{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
    All Categories
{% endblock %}

{% block body_block %}

{% if categories %}
    <h2> All Categories </h2>
    <ul class="list-group">
        {% for c in categories %}
            <li class="list-group-item"><a href="{% url 'show_category' c.slug %}">{{ c.name }}</a> </li>
        {% endfor %}
    </ul>

    {% if categories.has_other_pages %}
        <ul class="pagination">
        {% if categories.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ categories.previous_page_number }}">Previous</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Previous</span></li>
        {% endif %}
        {% for i in categories.paginator.page_range %}
            {% if categories.number == i %}
                <li class="page-item active">
                    <a class="page-link" href="?page{{ i }}">{{ i }}<span class="sr-only">(current)</span></a>
                </li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        {% if categories.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ categories.next_page_number }}">Next</a></li>
        {% else %}
            <li class="page-item disabled"><span class="page-link">Next</span></li>
        {% endif %}
        </ul>
    {% endif %}
{% else %}
    <li>There are no categories present.</li>
{% endif %}
{% endblock %}

