{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
  Update Your Information
{% endblock %}

{% block body_block %}
    <h1>Update Here</h1><br />
    <p>Leave blank the fields you want to keep unchanged.</p>
    <form id="user_form" action="{% url 'update_user_profile' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form update_user_form %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
    </form>
{% endblock %}

