{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block title_block %}
  Log In
{% endblock %}

{% block body_block %}
    {% if user.is_authenticated %}
        <strong>You are already logged in!</strong>
    {% else %}
        <h1>Log In</h1><br />
        <form id="login_form" action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form login_form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Submit
            </button>
        {% endbuttons %}
        </form>
    {% endif %}
{% endblock %}




